@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #00ff00;
}

body {
  background: black;
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
